[tools]
go = "latest"
"go:github.com/cortesi/modd/cmd/modd" = "latest"
"go:github.com/pressly/goose/v3/cmd/goose" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"
node = "latest"
pnpm = "latest"
prettier = "latest"
sqlite = "latest"

[env]
DATABASE_URL = "./db/dev.db"
TEST_DATABASE_URL = "./db/test.db"
GOOSE_DBSTRING = "{{ env.DATABASE_URL }}"
GOOSE_MIGRATION_DIR = "db/migrations"
GOOSE_DRIVER = "sqlite"
PROJECT_ROOT = "{{ config_root }}"

[tasks."db:setup"]
run = """
goose up
mise r db:seed
"""

[tasks."db:reset"]
run = """
rm db/dev.db
mise r db:setup
"""

[tasks."db:test:prepare"]
run = """
rm -f db/test.db
env GOOSE_DBSTRING=$TEST_DATABASE_URL goose up
"""

[tasks."db:seed"]
run = "sqlite3 $DATABASE_URL < db/seeds.sql"

[tasks.format]
run = "scripts/format-classes.mjs tmpl/**/*.go"

[tasks.test]
run = """
mise r db:test:prepare
go test -v ./...
"""
