[tools]
go = "latest"
"go:github.com/cortesi/modd/cmd/modd" = "latest"
"go:github.com/pressly/goose/v3/cmd/goose" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"
node = "latest"
pnpm = "latest"
prettier = "latest"
sqlite = "latest"

[env]
DATABASE_URL = "./db/dev.db"
GOOSE_DBSTRING = "{{ env.DATABASE_URL }}"
GOOSE_MIGRATION_DIR = "db/migrations"
GOOSE_DRIVER = "sqlite"
ALTCHA_HMAC_KEY = "ydeRgd3IsPk+2SVFHinBNOMjXD6v+KXnll+3/VYNN/M="

[tasks."db:setup"]
run = """
goose up
mise r db:seed
"""

[tasks."db:reset"]
run = """
rm db/dev.db
mise r db:setup
"""

[tasks."db:seed"]
run = "sqlite3 $DATABASE_URL < db/seeds.sql"
