[tools]
go = "latest"
"go:github.com/cortesi/modd/cmd/modd" = "latest"
"go:github.com/pressly/goose/v3/cmd/goose" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"
node = "latest"
pnpm = "latest"
prettier = "latest"
