@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";

@theme {
	--breakpoint-*: initial;
	--breakpoint-lg: 60rem;

	--color-bg: var(--color-white);
	--color-surface: var(--color-slate-100);
	--color-border: var(--color-slate-800);
	--color-primary: var(--color-blue-700);
	--color-primary-hover: var(--color-blue-800);
}

@variant dark {
	:root {
		--color-bg: var(--color-gray-900);
		--color-surface: var(--color-gray-800);
		--color-border: var(--color-gray-100);
		--color-primary: var(--color-blue-400);
		--color-primary-hover: var(--color-blue-500);
	}
}

@layer base {
	html {
		scrollbar-gutter: stable;
	}

	body {
		@apply bg-bg text-black dark:text-white;
	}

	.prose pre code {
		@apply whitespace-pre-wrap;
	}
}
